# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Ignore database config
api/config/environments/development/database.json

#ignore files upload
api/public/uploads/*
